@using HumanResourcesWebsite.Models
@model List<AD>
@{
    ViewBag.Title = "MyApplicationDetailSingle";
    Layout = "~/Shared/_homeLayout.cshtml";
}

<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="inner-sec-w3ls py-lg-5  py-3">
                <div class="single-user-candidate">
                    <div class="user-detail-info text-center">
                        <div class="user-pic">
                            <img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/90d08fb9a7787515a119ebb73734ffe4" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="user-content-info emply-resume-info text-center mt-4">
                            <h4>
                                <a href="#">@item.Company.Name</a>
                            </h4>
                            <p>
                                <i class="fas fa-map-marker-alt"></i> @item.Company.Adress
                            </p>
                            <p>
                                <i class="fas fa-user"></i> @item.Company.NumberOfWorkers
                            </p>
                            <p>
                                <i class="fas fa-calendar"></i> @item.Company.FoundationYear
                            </p>
                            <ul class="footer-social text-center mt-lg-4 mt-5">

                                <li class="nav-item active">
                                    <a class="nav-link text-white" href="index.html">
                                        <i class="fas fa-search"></i>
                                        @item.Company.WebSite
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row qualification-details mt-5 d-flex justify-content-between alert " style="background-color:#de0f17; opacity:0.8;">

                    <div class="col-md-3 qual-grid">
                        <div class="qual-icon text-center ">
                            <i class="fas fa-dollar-sign text-white"></i>
                        </div>
                        <div class="qual-info ">
                            <h4 class="text-white">Price</h4>
                            <p class="text-white">@item.Price</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-3 qual-grid">
                        <div class="qual-icon text-center">
                            <i class="fas fa-bars text-white"></i>
                        </div>
                        <div class="qual-info">
                            <h4 class="text-white">Category</h4>
                            <p class="text-white">@item.Company.Sector.SectorName</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12 candidate-ab-info mt-5 ">
                    <div class="emply-resume-list" style="border: 4px solid rgba(255, 15, 23,0.8);">
                        <h1 class="font-weight-bold" style="color: #de0f17; opacity:0.8;">@item.Title</h1>
                        <h5 class="j-b mb-3 mt-3">Job Description</h5>
                        <p>
                            @item.Criterion1
                            <br>
                            @item.Criterion2
                            <br>
                            @item.Criterion3
                            <br>
                            @item.Criterion4
                            <br>
                            @item.Criterion5
                            <br>
                        </p>
                    </div>
                </div>
                <div class="col-md-12 mt-5 ">
                    <div class="emply-resume-list  mb-3" style="border: 4px solid rgba(255, 15, 23,0.8);">
                        <h4 class="font-weight-bold" style="color: #de0f17; opacity:0.8;">Aday Kriterleri</h4>
                        <br />
                        <p><strong>Experience:</strong>@item.Experiences </p>
                        <p><strong>Eğitim Seviyesi:</strong>@item.EducationLevel</p>
                        <p><strong>Military State:</strong>@item.MilitaryState</p>
                    </div>
                   
                </div>
            </div>
        }
    </div>
</section>


