
@using HumanResourcesWebsite.Models;
@model List<Company>
@{
    ViewBag.Title = "Index";
    Layout = "~/Shared/_adminLayout.cshtml";
}

@using (Html.BeginForm("Index", "Companies", FormMethod.Get))
{
   
        <div style="margin-bottom:15px; margin-top:15px;">
            <b>Enter Company Name: </b>
            @Html.Editor("ara")
            <input class="btn btn-info" type="submit" value="Search" />
        </div>
 
}
<table class="table table-bordered">
    <tr style="background-color:rgb(252, 178, 22)">
        <th>ID</th>
        <th>Company Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Adress</th>
        <th>NumberOfWorker</th>
        <th>Description</th>
        <th>FoundationYear</th>
        <th>Website</th>
        <th>SectorName</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>@k.CompanyID</td>
            <td>@k.Name</td>
            <td>@k.EMail</td>
            <td>@k.Password</td>
            <td>@k.Adress</td>
            <td>@k.NumberOfWorkers</td>
            <td>@k.Description</td>
            <td>@k.FoundationYear</td>
            <td>@k.WebSite</td>
            <td>@k.Sector.SectorName</td>
            <td><a href="/Companies/DeleteCompany/@k.CompanyID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Companies/UpdateCompany/@k.CompanyID" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>
<a href="/Companies/AddCompany/" class="btn btn-primary">ADD COMPANY</a>

